* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

/* common section  */
.cmn-btn {
    background-color: #1D4ED8;
    color: #FFFFFF;
    padding: 12px 30px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 70px;
    background: white;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #0D1B2A;
}

.logo img {
    width: 32px;
    height: 32px;
}

nav {
    display: flex;
    gap: 30px;
}

nav a {
    color: #575757;
    text-decoration: none;
    font-size: 15px;
}

.hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(to right, rgba(2, 2, 2, 0.956),
            rgba(0, 0, 0, 0.2)), url(./assets/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-content {
    max-width: 1200px;
}

.hero h1 {
    font-size: 70px;
    color: #FFFFFF;
    font-weight: bold;
}

.hero p {
    color: #FFFFFF;
    line-height: 1.5;
    font-size: 18px;
    margin-bottom: 80px;
}

.hero-btn {
    margin-top: 190px;
    font-size: 16px;
}

.meet-speaker {
    margin-top: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.parent-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: center;
}

.card {
    box-sizing: border-box;
    /* width: 300px; */
    margin: 10px;
    padding: 15px;
    gap: 30px;

}

.card img {
    height: 250px;
    border-radius: 10px 10px 0 0;
}

.card h3 {
    font-size: 14px;
    color: #2563EB;
}

.card h2 {
    font-size: 24px;
    color: #0D1B2A;
}

.card p {
    font-size: 13px;
    color: #575757;
}